<div class="row">
  <div class="col s12 m2"></div>
  <div class="col s12 m10">
    <footer class="page-footer {{adm.background}} darken-2">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text titulo">CONTÁCTENOS</h5>
            <div class="row">
              <form class="col s12 card">
                <div class="row">
                  <div class="input-field col s11">
                    <i class="material-icons prefix {{adm.background}}-text darken-4">email</i>
                    <input id="email" type="email" class="validate">
                    <label for="email">Correo</label>
                  </div>
                  <div class="input-field col s11">
                    <i class="material-icons prefix {{adm.background}}-text darken-4">chat</i>
                    <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                    <label for="textarea2">Mensaje</label>
                  </div>
                </div>
                <center><button type="button" name="button" class="btn {{adm.background}} darken-1" style="margin-bottom:10px;">Enviar</button></center>
              </form>
            </div>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">REDES SOCIALES</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Twiter</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Gmail</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Telefono</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2018 Copyright Octavio Vasquez
        <a class="grey-text text-lighten-4 right" href="#!">Patrocinadores:</a>
        </div>
      </div>
    </footer>

  </div>
</div>
