<div class="navbar-fixed">
  <nav>
     <div class="nav-wrapper {{adm.background}} darken-3">
      <center> <a href="#!" class="brand-logo"><img src="../{{adm.logo}}" class="img-responsive" width="52px"> {{adm.autor}}</a></center>
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

       <ul class="right hide-on-med-and-down">
         <li><a style=" font-size:20px; font-weight: bold;" href="mobile.html"><i class="material-icons medium left">exit</i>salir</a></li>
       </ul>
     </div>
   </nav>
</div>
