<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper {{color.background}} darken-3">
            <a href="#!" class="brand-logo"><img src="{{color.logo}}" class="img-responsive" width="45px"> {{color.autor}}</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

            <ul class="right hide-on-med-and-down">
                <li><a style=" font-size:20px; font-weight: bold;" href="#!/"><i class="material-icons medium left">home</i>Homes</a></li>
                <li><a style=" font-size:20px; font-weight: bold;" href="sass.html"><i class="material-icons medium left">panorama</i>Multimedia</a></li>
                <li><a style=" font-size:20px; font-weight: bold;" href="badges.html"><i class="material-icons medium left">art_track</i>Eventos</a></li>
                <li><a style=" font-size:20px; font-weight: bold;" href="#!/music"><i class="material-icons medium left">headset</i>Música</a></li>
                <li><a style=" font-size:20px; font-weight: bold;" href="mobile.html"><i class="material-icons medium left">face</i>Biografía</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    <li><a style=" font-size:20px; font-weight: bold;" href="#!/"><i class="material-icons left">home</i>Homes</a></li>
    <li><a style=" font-size:20px; font-weight: bold;" href="sass.html"><i class="material-icons left">panorama</i>Multimedia</a></li>
    <li><a style=" font-size:20px; font-weight: bold;" href="badges.html"><i class="material-icons left">art_track</i>Eventos</a></li>
    <li><a style=" font-size:20px; font-weight: bold;" href="#!/music"><i class="material-icons left">headset</i>Música</a></li>
    <li><a style=" font-size:20px; font-weight: bold;" href="mobile.html"><i class="material-icons  left">face</i>Biografía</a></li>
</ul>