<!--div class="navbar-fixed">
  <nav>
     <div class="nav-wrapper {{color}} darken-3">
       <a href="#!" class="brand-logo">Logo Octavio Vasquez</a>
       <a class=' sidenav-trigger dropdown-trigger btn' data-target='mobile-demo1'>Drop Me!</a>

       <ul class="right hide-on-med-and-down">
         <li><a style=" font-size:20px; font-weight: bold;" href="#!/"><i class="material-icons medium left">home</i>Home</a></li>
         <li><a style=" font-size:20px; font-weight: bold;" href="sass.html"><i class="material-icons medium left">panorama</i>Multimedia</a></li>
         <li><a style=" font-size:20px; font-weight: bold;" href="badges.html"><i class="material-icons medium left">art_track</i>Eventos</a></li>
         <li><a style=" font-size:20px; font-weight: bold;" href="#!/music"><i class="material-icons medium left">headset</i>Música</a></li>
         <li><a style=" font-size:20px; font-weight: bold;" href="mobile.html"><i class="material-icons medium left">face</i>Biografía</a></li>
       </ul>
     </div>
   </nav>
</div>

 <ul class='dropdown-content' id="mobile-demo1">
      <li><a style=" font-size:20px; font-weight: bold;" href="#!/"><i class="material-icons left">home</i>Home</a></li>
   <li><a style=" font-size:20px; font-weight: bold;" href="sass.html"><i class="material-icons left">panorama</i>Multimedia</a></li>
   <li><a style=" font-size:20px; font-weight: bold;" href="badges.html"><i class="material-icons left">art_track</i>Eventos</a></li>
   <li><a style=" font-size:20px; font-weight: bold;" href="#!/music"><i class="material-icons left">headset</i>Música</a></li>
   <li><a style=" font-size:20px; font-weight: bold;" href="mobile.html"><i class="material-icons  left">face</i>Biografía</a></li>
 </ul-->

<div class="row" ng-controller="musicaList">
  <div class="col s12m1"></div>
  <div class="col s12 m3 card">
    <header>
      <h4>ALBUMS</h4><hr>
    </header>
  </div>
  <div class="col s12m1"></div>


  <div class="col s12 m6">
    <div class="row">
        <div class="col s12 m12 card">
          <header>
            <h4>REPRODUCTOR</h4><hr>
          </header>
        <hr/>
        <div class="row">
            <div class="col s12 md12">
                  <!-- init soundManager2 player -->
                  <sound-manager></sound-manager>
                  <!--Nombre de la musica sonando-->
                  <header>
                    <h4 style="margin-left:20px;">  <b>Musica Sonando:</b> {{ currentPlaying.title }} ({{ currentPostion }} / {{ currentDuration }})</h4><hr>
                  </header>
                  <!---->
                  <!--Reproductor-->
                  <!--Fondo Tiempo-->
                  <div class="fondoprog" seek-track>
                      <div class="progress progre" ng-style="{width : ( progress + '%' ) }"><i class="material-icons left white-text medium">play_circle_filled</i></div>
                  </div>
                  <!---->

                  <!--Opciones play, pause, etc-->
                  <div class="row card">
                      <div class="col s12 m2">
                          <a href="" play-music><i class="material-icons left medium">play_circle_filled</i></a>
                      </div>

                      <div class="col s12 m2">
                        <a href="" pause-music><i class="material-icons left medium">pause_circle_filled</i></a>
                      </div>

                      <div class="col s12 m2">
                        <a href=""  stop-music><i class="material-icons left medium">adjust</i></a>
                      </div>

                      <div class="col s12 m2">
                        <a repeat-music class="hidden"></a>
                        <a ng-if="repeat==false" href="" repeat-music><i class="material-icons left medium">sync_disabled</i></a>
                        <a ng-if="repeat==true" href=""  repeat-music><i class="material-icons left medium">sync</i></a>
                      </div>

                      <div class="col s12 m2">
                        <a href="" prev-track><i class="material-icons left medium">skip_previous</i></a>
                      </div>

                      <div class="col s12 m2">
                        <a href="" next-track><i class="material-icons left medium">skip_next</i></a>
                      </div>
                  </div>
                  <!---->

                  <!--Confirmacion de Reproduccion-->
                  <div class="row">
                      <div class="col s12 m1"></div>

                      <div class="col s12 m4">
                        <h5><b>Reproduciendo:</b> {{ isPlaying }}</h5>
                      </div>

                      <div class="col s12 m3">
                         <h5><b>Repetir:</b>({{ repeat }})</h5>
                      </div>

                      <div class="col s12 m3">
                          <h5><b>Volume:</b> {{ volume }}</h5>
                      </div>

                      <div class="col s12 m1">
                         <a href="" class="tooltipped" data-position="bottom" data-tooltip="Mas" music-volume data-type="increase"><i class="material-icons left small">local_hospital</i></a>
                          <a href="" class="tooltipped" data-position="bottom" data-tooltip="Menos" music-volume data-type="decrease"><i class="material-icons left small">do_not_disturb_on</i></a>
                          <a class="hidden" mute-music>no</a>
                          <a ng-if="mute==false" href="" class="tooltipped" data-position="bottom" data-tooltip="Silecciar" mute-music><i class="material-icons left small">volume_off</i></a>
                          <a ng-if="mute==true" href="" class="tooltipped" data-position="bottom" data-tooltip="No Silenciar" mute-music><i class="material-icons left small">volume_up</i></a>
                      </div>
                  </div>
                  <!---->

                  <!--Lista de Reproduccion-->
                  <div class="col s12 m12">
                      <header>
                        <h4>Lista de Reproducción</h4><hr>
                      </header>
                      <div class="col s12 m12">
                        <div class="row">
                          <div class="col-md-12">
                              <ul class="collection">
                                  <li class="collection-item" ng-repeat="song in playlist">
                                      <div play-from-playlist="song">{{ song.title }}<a ng-if="currentPlaying.id == song.id" href="" pause-music><i class="material-icons right blue-text">play_arrow</i></a></span> <a class="secondary-content" remove-from-playlist="song" data-index="{{$index}}"><i music-player add-song="song" class="material-icons red-text">delete_forever</i></a></div>
                                  </li>
                              </ul>
                          </div>
                        </div>
                      </div>

                  </div>
                  <!---->
            </div>
        </div>
        </div>




        <div class="col s12 m12 card">
            <header>
              <h4>LISTADO DE CANCIONES</h4><hr>
            </header>

              <div class="col s12 m12">
                <div class="row">
                  <div class="col-md-12">
                      <ul class="collection">
                          <li class="collection-item" ng-repeat="song in songs">
                              <div music-player="play" add-song="song">{{ song.title }}<a class="secondary-content"><i music-player add-song="song" class="material-icons blue-text">play_circle_filled</i></a></div>
                          </li>
                      </ul>
                        <a href="" class="tooltipped" data-position="bottom" data-tooltip="Play Todo" play-all="songs"><i class="material-icons left medium">shop_two</i></a>
                        <a href="" class="tooltipped" data-position="bottom" data-tooltip="Play Todo" play-all="songs" data-play="false"><i class="material-icons left medium">library_add</i></a>
                  </div>
                </div>
              </div>
        </div>

        <div class="col s12 m12 card">
          COMENTARIOS
        </div>
    </div>
  </div>


  <div class="col s12m1"></div>
  <div class="col s12 m2 card">
    <header>
      <h4>INSPIRACION</h4><hr>
    </header>
     <a class="btn tooltipped" data-position="bottom" data-tooltip="I am a tooltip">Hover me!</a>
  </div>
</div>
